h1 {
    margin: 1rem !important;
    font-size: 20pt !important;
}

h2 {
    margin: 2rem !important;
    font-size: 15pt !important;
}

#startScreen {
    display: flex;
    justify-content: center;
    align-self: center;

}

#startGameCard {
    margin-top: 3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 25rem;
    align-items: center;
    justify-content: center;
}

#startGamerCard * {
    margin: 1rem;
}

button {
    width: 100%;
    border: 0.1rem solid orange;
    background: none;
    padding: 0.3rem 1rem;
    transition: 250ms;
    position: relative;
    overflow: hidden;
    color: orange;
    border-radius: 2rem;
    cursor: pointer;
    outline: none;
    padding: 0.6rem;
    font-size: 14pt;
    margin: 0.5rem 0;
}

input {
    padding: 0.6rem;
    width: 90%;
    font-size: 14pt;
}


button::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: orange;
    z-index: -1;

    bottom: -0.1rem;
    border-radius: 50% 50% 0 0;

    transition: 250ms;
}

button:hover {
    color: #ffffff;
}

button:hover::before {
    height: 200%;
}


.dropShadow {
    /* background-color: green; */
    box-shadow: 0 0 1rem black;
}

.cardAnimation {
    transition: all 250ms ease;

}
.cardAnimation:hover {
    box-shadow: 0 0.7rem 2rem rgba(0, 0, 0, 0.2), 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    /* transform: translate(0, -0.5rem); */
}

.borderRadius {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

hr {
    border-top: 0.2rem solid orange;
    border-radius: 5px;
    width: 100%;
    margin: 1rem 0;
}

#gameScreen {
    display: none;
}

#innerGameScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}